# Build directories
build/
out/

# Visual Studio
.vs/

# VS Code
.vscode/

# CMake
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing/

# Ninja
.ninja_deps
.ninja_log
build.ninja

# Compilation database
compile_commands.json